<div class="root1">
<div class="body1">
  <header class="header1">
    <div>
      <input type="checkbox" id="active">
    <label for="active" class="menu-btn"><span></span></label>
    <label for="active" class="close"></label>
    <div class="wrapper">
      <ul>
<li><a routerLink="/listings">listings</a></li>
<li><a routerLink="/contact/12345">About</a></li>
<li><a href="#">Services</a></li>
<li><a href="#">Gallery</a></li>
<li><a href="#">Feedback</a></li>
</ul>
</div>
    </div>
    <h1>PREOWNEDPAL</h1>
  </header>

  <main>
    <br>
    <br>
    <a routerLink="/listings"><p>Buy from us</p></a>
      <p>Sell to us</p>

  </main>
</div>
</div>
